@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --color-bg-primary: #ffffff; 
  --color-bg-secundary: #c7c7c7;
  --color-bg-tertiary: #F5F5F5;
  --color-bg-button:#1890FF;

  --color-card-bg-primary: #E6F7FF; 
  --color-card-bg-secundary: #F5F5F5;
  --color-card-bg-info: #FFFFFF;

  --color-font-primary:#000;  
  --color-font-secundary:#7E7E7E;
  --color-font-tertiary: #1890FF;
  --color-font-header:#fff;
  --color-font-button:#fff;

  --color-font-card-primary: #262626;
  --color-font-card-secundary: #737373;  

  --color-font-text: #5C5858;
  

  --color-font-placeholder: #BFBFBF;

  --color-font-button: #FFFFFF;
  --color-border-container: #D9D9D9;

}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Roboto", serif;
}

.container {
  max-width: 960px;
  width: 100%;
  margin: 0 auto;
  border: 2px solid red;
}