@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --color-bg-primary: #ffffff; 
  --color-bg-secundary: #c7c7c7;
  --color-bg-tertiary: #F5F5F5;
  --color-bg-button:#1890FF;

  --color-card-bg-primary: #E6F7FF; 
  --color-card-bg-secundary: #F5F5F5;
  --color-card-bg-info: #FFFFFF;

  --color-font-primary:#000;  
  --color-font-secundary:#7E7E7E;
  --color-font-tertiary: #1890FF;
  --color-font-header:#fff;
  --color-font-button:#fff;

  --color-font-card-primary: #262626;
  --color-font-card-secundary: #737373;  

  --color-font-text: #5C5858;
  

  --color-font-placeholder: #BFBFBF;

  --color-font-button: #FFFFFF;

}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Roboto", serif;
}

/* a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
